@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf');
    src: url('../fonts/Roboto-Black.ttf?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Black.ttfRoboto-Black.woff') format('woff'),
    url('../fonts/Roboto-Black.ttfRoboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
        font-family: 'SF UI Text';
        src: url('../fonts/SFUIText-Regular.eot');
        src: local('SF UI Text Regular'), local('SFUIText-Regular'),
            url('SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
            url('SFUIText-Regular.woff') format('woff'),
            url('SFUIText-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('/src/fonts/Roboto-Regular.eot');
    src: local('Roboto Regular'), local('Roboto-Regular'),
        url('/src/fonts/?#iefix') format('embedded-opentype'),
        url('/src/fonts/Roboto-Regular.woff2') format('woff2'),
        url('/src/fonts/Roboto-Regular.woff') format('woff'),
        url('/src/fonts/Roboto-Regular.ttf') format('truetype'),
        url('/src/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}